body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-header {
  background-color: #eeeeee;
}

.main-header h1 {

  font-size: 55px;
  line-height: 55px;
}

.visually-hidden {
  display: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.site-navigation,
.basket-for-user {
  list-style: none;
}

.site-navigation a:hover,
.basket-for-user a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.basket-for-user a:focus {
  color: #a6a6a6;
}

.site-navigation a:active,
.basket-for-user a:active {
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

.features .luxury {
  font-size: 55px;
  line-height: 55px;
}

.features .math-design {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

a.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.services h3 {
  font-size: 24px;
  line-height: 30px;
}

.services p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

section.services a {
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.honor-group strong {
  font-size: 45px;
  line-height: 45px;
}

.honor-group p,
.honor-group li {
  font-size: 16px;
  line-height: 24px;

  list-style: none;

  color: #283136;
}

.honor-group h3 {
  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
}

.level-of-quality strong {
  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
}

.percents p {
  font-size: 45px;
  line-height: 10,06px;
}

.row-decription p {
  font-size: 16px;
  line-height: 18px;
}

.contacts strong {
  font-size: 18px;
  line-height: 30px;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts a {
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.preposition-information strong {
  font-size: 36px;
  line-height: 36px;
}

.preposition-information p {
  font-size: 16px;
  line-height: 22px;
}

/*inner*/

.sidebar h3 {
  font-size: 18px;
  line-height: 30px;
}

.scale .min-price,
.scale .max-price {
  text-transform: uppercase;
}

form label {
  font-size: 16px;
  line-height: 20px;
}

form button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}

.right-side h3 {
  font-size: 18px;
  line-height: 18px;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}

.our-template .site-price {
   background-color: #eeeeee;

   width: 360px;
   min-height: 231px;
}

.our-template span {
  font-size: 18px;
  line-height: 30px;

  text-transform: uppercase;

  font-weight: bold;
}

.our-template p {
  font-size: 16px;
  line-height: 18px;

  color: #666666;
}

.our-template a {
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: medium;

  background-color: #fb565a;
  border: none;
}

.page-number a {
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    text-transform: uppercase;
}

.contacts strong {
  color: #000000;
}

/*flexbox*/

html,
body {
  min-width: 1200px;
  min-height: 2476px;
}

.main-header {
  margin-bottom: 80px;

}

.main-navigation {
  display: flex;
  align-items: center;


}

.main-navigation-wrapper{
  width: auto;

  margin-bottom: 25px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  padding-bottom: 0px;
}

.main-header-logo {
  margin: 0;
  padding: 0;

  width: 160px;
  height: 65px;

}

.site-navigation {
  width: 510px;

  margin-left: 140px;
  margin-right: 140px;

  display: flex;
  justify-content: space-around;

}

.basket-for-user {
  margin-left: auto;

  width: 160px;
  height: 20px;
}

.bright-possibilities {
  width: auto;

  display: flex;
  justify-content: space-between;

  padding: 0 20px;
  margin-bottom: 80px;
}

.features {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 381px;
  height: 275px;

}

.luxury {
  width: 381px;
  min-height: 135px;

  margin-bottom: auto;
  margin-top: auto;
}

.math-design {
  margin-top: auto;
  width: 360px;
  height: 50px;
}

.features .button {
  width: 240px;
  min-height: 50px;
  vertical-align: middle;

}

.slaider {
  margin-right: auto;
  margin-left: 51px;
  height: 413px;
}

.services-wrapper {
  width: auto;

  margin-bottom: 82px;
}

.services {
  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  margin-right: auto;

  width: 1100px;
}

.web-services {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.web-services h3 {
  min-width: 180px;
}

.web-services p {
  width: 260px;
  min-height: 40px;
}

.web-services a {
  min-width: 160px;
  height: 50px;
}

.description-wrapper {
  width: auto;

  margin-bottom: 83px;
  padding-top: 42px;

  background-color: rgba(11, 111, 11, 0.4);
}

.description-wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;

  padding-left: 20px;
  padding-right: auto;
}

.honor-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 375px;


  background-color: rgba(222, 1, 1, 0.4);
}

.honor-group strong {
  width: 660px;
  min-height: 100px;
  background-color: rgba(111, 1, 11, 0.4);
}

.honor-group p {
  width: 660px;
  min-height: 45px;
  background-color: rgba(7, 17, 171, 0.4);
}

.honor-group h3 {
  width: 360px;
  min-height: 20px;
  background-color: rgba(71, 17, 11, 0.4);
}

.make-orders {
  width: 460px;
  min-height: 20xp;
}

.level-of-quality {
  display: flex;
  flex-direction: column;

  padding-right: 20px;
  width: 360px;
}
